.input_field{
    width: 100%;
    height: 4.5vh;
    border: 1px solid gray;
    padding-left: 18px;
    margin-bottom: 22px;
}

.input_field:last-of-type {
    margin-bottom: 0; 
}

.input_field{
    outline: none;
}

.input_field::placeholder{
    font-size: 18px; 
}

@media (max-width: 850px) {
    .registration_field{
        height: 3.5vh;
    }

    .registration_field::placeholder{
        font-size: 15px; 
    }
}

@media (max-width: 700px) {
    .login_field{
        height: 4vh;
    }

    .login_field::placeholder{
        font-size: 15px; 
    }
}

@media (max-width: 600px) {
    .login_field{
        height: 3.5vh;
    }

    .login_field::placeholder{
        font-size: 12px; 
    }
}